<body>
	<!--Header Start-->
	<%- include('partials/header') %>
	<!--Header End-->

	<!--Home Hero Section Start-->
	<%- include('partials/home-hero-section') %>
	<!--Home Hero Section End-->

	<!--Author Section Start-->
	<%- include('partials/author-section') %>
	<!--Author Section End-->

	<!--live Product Section Start-->
	<%- include('partials/product-section') %>
	<!--live Product Section End-->

	<!--Latest Blogs News Section End-->
	<%- include('partials/latest-blogs-news') %>
    <!--Latest Blogs News Section End-->

    <!--Editor Picks Section Start-->
    <%- include('partials/editor-section') %>
    <!--Editor Picks Section End-->

    <!--Audio Artical Section Start-->
    <%- include('partials/audio-article') %>
    <!--Audio Artical Section End-->

    <!--Recent Artical Section Start-->
    <%- include('partials/recent-article') %>
    <!--Recent Artical Section End-->

    <!--Follow On Instagran Section Start-->
    <%- include('partials/instagram-section') %>
    <!--Follow On Instagran Section End-->

    <!--Footer Start-->
    <%- include('partials/footer') %>
    <!--Footer End-->

    <!--Scripts Start-->
    <%- include('partials/scripts') %>
</body>